<app-group-box>
<div class="body">
    <table class="data-table" border="1">
      <thead>
      <tr>
        <th>Nro.</th>
        <th>Comprobante</th>
        <th>Cliente</th>
        <th>Importe</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let comprobante of comprobanteList; let par = even; let inpar = odd; let indice = index" [ngClass]="{'row-par': par}">
        <td>{{indice + 1}}</td>
        <td><a href="orders/detalle/{{comprobante.id}}">{{getComprobante(comprobante)}}</a></td>
        <td>{{comprobante.cliente}}</td>
        <td>{{comprobante.importe}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-group-box>
  